YL-3566TPB-debian11-HDMI-202508051111.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-LVDS-202508051015.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-HDMI-202508181627.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-LVDS-202508181600.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-HDMI-202508251126.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-LVDS-202508251153.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-HDMI-202509011027.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-LVDS-202509011042.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-HDMI-202509031709.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-LVDS-202509031629.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-HDMI-202509121630.zip filter=lfs diff=lfs merge=lfs -text
