YL-3566TPB-debian11-HDMI-202508051111.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-LVDS-202508051015.zip filter=lfs diff=lfs merge=lfs -text
YL-3566TPB-debian11-HDMI-202508181627.zip filter=lfs diff=lfs merge=lfs -text
